lmdb
opencv-python
numpy
requests
beautifulsoup4
tqdm
Pillow
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl ; sys_platform == "linux"
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-win_amd64.whl ; sys_platform == "win32"
torch ; sys_platform == "darwin"
torchvision